<section class="category">

  <h3><%= category.name %></h3>

  <p class="nominees" id="<%= category.id %>">
    <%= collection_radio_buttons(:category, category.id, category.nominees, :id, :name,
                                 checked: current_votes_for_category(category.id)) do |b| %>
      <% if current_user %>
        <%= b.label(class: 'radio') { b.radio_button + b.text } %>
      <% else %>
        <%= b.label(class: 'radio') { b.radio_button(disabled: true) + b.text } %>
      <% end %>
    <% end %>
  </p>

  <p class="entry-actions">
  <button class="btn" <%= 'disabled=true' unless current_user %>>Save</button>
    <span class="entry-message alert alert-success">Your vote has been cast</span>
  </p>
</section>
